/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

//our css
.flex {
  display: flex;
}
.center {
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
body {
  background-color: #222222;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-size: 20px;
}

.sec-padding {
  padding: 3rem 0;
}

.btn {
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 10px;
  outline: none;
  border: none;
}

.btn-pri {
  background-color: rgb(56, 165, 56);
  color: wheat;
  &:hover {
    background-color: rgb(78, 173, 185);
  }
}

.btn-sec {
  background-color: rgb(87, 96, 97);
  color: wheat;
  &:hover {
    background-color: rgb(78, 173, 185);
  }
  font-size: 1.5rem;
  font-weight: 800;
}
//header

.header {
  padding: 3rem 0;
  svg {
    height: 4rem;
    width: 4rem;
    color: yellow;
  }
  strong {
    font-size: 3rem;
    margin: 0 2rem;
    color: wheat;
  }
}

//main-sec

.main-sec {
  .btn-div {
    & > * {
      margin-right: 3rem;
    }
  }
}

//card{
.card {
  background-color: #161b1f;
  border: 1px solid wheat;
  border-radius: 7px;
  padding: 1rem;
  width: 30%;
  position: relative;
  .cross {
    position: absolute;
    top: 0;
    right: 0;
    color: wheat;
    height: 1.5rem;
    width: 1.5rem;
    &:hover {
      background-color: rgb(78, 173, 185);
    }
  }
  text-align: center;
  color: wheat;

  h3 {
    font-size: 2rem;
    font-weight: 700;
  }
  h2 {
    font-size: 2.3em;
    font-weight: 700;
  }
}

.stopwatch {
  & > * {
    margin-bottom: 3.2rem;
  }
  button {
    margin-right: 1rem;
  }
}

.timer {
  button {
    margin-right: 1rem;
  }
  h3 {
    margin-bottom: 1rem;
  }
  h5 {
    margin-bottom: 0.7rem;
  }
  h2 {
    margin: 0.5rem 0;
  }

  .timer__svg-div {
    svg {
      height: 2rem;
      width: 2rem;
      margin-right: 2.2rem;
      color: white;
      &:hover {
        color: gray;
      }
    }
  }

  button {
    margin-top: 1rem;
  }
}
