/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

body {
  background-color: #222222;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-size: 20px;
}

.sec-padding {
  padding: 3rem 0;
}

.btn {
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 10px;
  outline: none;
  border: none;
}

.btn-pri {
  background-color: #38a538;
  color: wheat;
}

.btn-pri:hover {
  background-color: #4eadb9;
}

.btn-sec {
  background-color: #576061;
  color: wheat;
  font-size: 1.5rem;
  font-weight: 800;
}

.btn-sec:hover {
  background-color: #4eadb9;
}

.header {
  padding: 3rem 0;
}

.header svg {
  height: 4rem;
  width: 4rem;
  color: yellow;
}

.header strong {
  font-size: 3rem;
  margin: 0 2rem;
  color: wheat;
}

.main-sec .btn-div > * {
  margin-right: 3rem;
}

.card {
  background-color: #161b1f;
  border: 1px solid wheat;
  border-radius: 7px;
  padding: 1rem;
  width: 30%;
  position: relative;
  text-align: center;
  color: wheat;
}

.card .cross {
  position: absolute;
  top: 0;
  right: 0;
  color: wheat;
  height: 1.5rem;
  width: 1.5rem;
}

.card .cross:hover {
  background-color: #4eadb9;
}

.card h3 {
  font-size: 2rem;
  font-weight: 700;
}

.card h2 {
  font-size: 2.3em;
  font-weight: 700;
}

.stopwatch > * {
  margin-bottom: 3.2rem;
}

.stopwatch button {
  margin-right: 1rem;
}

.timer button {
  margin-right: 1rem;
}

.timer h3 {
  margin-bottom: 1rem;
}

.timer h5 {
  margin-bottom: 0.7rem;
}

.timer h2 {
  margin: 0.5rem 0;
}

.timer .timer__svg-div svg {
  height: 2rem;
  width: 2rem;
  margin-right: 2.2rem;
  color: white;
}

.timer .timer__svg-div svg:hover {
  color: gray;
}

.timer button {
  margin-top: 1rem;
}
/*# sourceMappingURL=App.css.map */